@import '../../App.scss';

.empty-cart{
    min-height: 60vh;
    img{
        width: 120px;
        margin-bottom: 1rem;
    }
    .shopping-btn{
        padding: 0.65rem 2.8rem;
        margin-top: 1.6rem;
        border: 1px solid $clr-orange;
        transition: $transition-ease;

        &:hover{
            background-color: transparent;
            color: $clr-orange;
        }
    }
}

.btn{
    &-hover{
        transition: $transition-ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.cart{
    overflow-x: scroll;
    padding-top: 2rem;
    min-height: 85vh;

    &::-webkit-scrollbar{
        height: 5px;

    }
    &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: lighten($clr-light-orange, 5%);
        outline: 1px solid $clr-light-orange;
    }

    .cart-ctxt-num{
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .container{
        padding: 0;
    }
    .cart-ctable{
        min-width: 1000px;
        @media screen and (max-width: 992px) {
            min-width: 750px;
        }
        @media screen and (max-width: 768px) {
            min-width: 560px;
        }
        @media screen and (max-width: 568px) {
            min-width: 300px;
        }
        @media screen and (min-width: 375px) {
            min-width: 300px;
        }

        .cart-ctr{
            grid-template-columns: 1fr 4fr 2fr 2fr 2fr 2fr;
            @media screen and (max-width: 992px) {
                grid-template-columns: 1fr 4fr 2fr 3fr 2fr 1fr;
            }
            @media screen and (max-width: 768px) {
                grid-template-columns: 0fr 3fr 2fr 2fr 2fr 0.5fr;
                &-title{
                    display: none;
                }
            @media screen and (max-width: 576px) {
                grid-template-columns: 0.5fr 2fr 2fr 3fr 2fr 0.7fr;
                img{
                    display: none;
                }
                }
            @media screen and (min-width: 375px) {
                font-size: 12px;
            }
                
            }
            min-height: 40px;
            border-bottom: 1px solid $clr-whitesmoke;
            display: grid;
            align-items: center!important;
            img{
                width: 120px;
                height: 90px;
            }
        }
        .cart-chead{
            margin-bottom: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
            box-shadow: rgba(60, 64, 67, 0.01) 0px 1px 2px 0px, rgba(60, 64, 67, 0.01) 0px 1px 3px 1px;
            border-radius: 3px;
            color: rgba(0, 0, 0, 0.6);
        @media screen and (max-width: 475px) {
            padding: 0rem;
        }
        }
        .cart-cbody{
            padding-right: 2rem;
            padding-left: 2rem;
            box-shadow: rgba(60, 64, 67, 0.01) 0px 1px 2px 0px, rgba(60, 64, 67, 0.01) 0px 1px 3px 1px;
            border-radius: 3px;
            font-size: 14.5px;
            color: rgba(0, 0, 0, 0.6);

        }
        .delete-btn{
            font-size: 14px;
            transition: $transition-ease;
            &:hover{
                color: $clr-danger;
            }
        }
        .qty-change{
            .qty-decrease, .qty-increase{
                font-size: 13px;
                width: 28px;
                height: 28px;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
            .qty-value{
                width: 36px;
                height: 28px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
        .cart-cfoot{
            margin-top: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
        @media screen and (max-width: 576px) {
            button{
                font-size: 12px;
            }   
            }



            .total-txt{
                margin-right: -1rem;
                @media screen and (max-width:450px){
                    margin: 0;
                    div{
                        font-size: 16px;
                    }
                    span{
                        font-size: 16px;
                    }
                }
            }

            .clear-cart-btn{
                border: 1px solid $clr-danger;
                padding: 0.7rem 1rem;
                transition: $transition-ease;
                @media screen and (max-width: 450px) {
                    font-size: 12px;
                    border:none;
                    padding: 0;;
                    
                    }

                &:hover{
                    background-color: $clr-danger;
                    color: $clr-white;
                }
            }
            .checkout-btn{
                padding: 0.8rem 2.8rem;
                margin-top: 0.7rem;
            }
        }
    }
}